<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body style="background-color: #f8f9fa!important">
<nav class="navbar navbar-expand-sm bg-light justify-content-end">
    <ul class="nav justify-content-start">
        <div style="display:flex;">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/thanh-vien/dang-xuat}">Trang chủ</a>
            </li>
        </div>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/thanh-vien/dang-ky}">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/thanh-vien/dang-nhap}">Đăng nhập</a>
        </li>
    </ul>
</nav>
<br/><br/><br/>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Đăng ký</h2>
            </div>
            <div th:if="${#fields.hasErrors('dang_ky_error')}" th:errors="*{dang_ky_error}">
                <div class="alert alert-info">
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        th:action="@{/thanh-vien/dang-ky/save}"
                        th:object="${thanhVien}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Username</label>
                        <input
                                class="form-control"
                                id="username"
                                name="username"
                                placeholder="Nhập username"
                                th:field="*{username}"
                                type="text"
                        />
                        <p th:errors="*{username}" class="text-danger"
                           th:if="${#fields.hasErrors('username')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Nhập password"
                                th:field="*{password}"
                                type="password"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Nhập email"
                                th:field="*{email}"
                                type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Đăng ký</button>
                        <p>Bạn đã có tài khoản?
                            <a th:href="@{/thanh-vien/dang-nhap}">Đăng nhập ở đây</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>